.mapbox {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}
/* .mapboxgl-marker {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border:1px solid gray;
  background-color:lightblue;
} */